<div class="lasu-header">
  <div class="container">
    <div class="page-header">
  	  <h1>Latin American Student Union</h1>
    </div>
    <p>Organization at The College of William & Mary</p>
  </div>
</div>