<nav class="navbar navbar-expand-lg lasu-navbar">
    <div class="container">
        <button class="navbar-toggler nav-fill w-100 nav-text" type="button" data-toggle="collapse" data-target="#navbar10">Menu</button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <%= link_to "Home", root_path , class: "nav-link nav-text"%>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <%= link_to "News", posts_path , class: "nav-link nav-text"%>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" href="#">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" href="#">Calendar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>